// navigation
.navbar {
    background-color: $light-cyan !important;
}

// Content 
#page-content,
#page-wrapper {
    background-color: $light-cyan;
}

// Sidebar 
#nav-drawer {
    background-color: $white;
}

// .active {
//     background-color: $purple !important;
// }
// button 
.btn {
    border-radius: 10px;
}

.btn:focus {
    outline: none;
    border-inline: none;
}

.cbtn-warning {
    background-color: $orange;
}

.cbtn-warning:hover {
    background-color: $dark-orange;
}

// utilities
.cshadow {
    box-shadow: 0 2px 5px rgb(128, 128, 128, 0.5);
}

// navigation
.navbar {
    box-shadow: none;
}

//dropdown
.cdropdown-menu {
    border-radius: 10px;
    border: none;
}

.dropdown-item:hover {
    background-color: $gray;
    color: $dark-cyan;
}

// Course overview
#inst28.card {
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 5px rgb(128, 128, 128, 0.5);
}

// Recently accessed courses
#inst27.card {
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 5px rgb(128, 128, 128, 0.5);
}

// navbar form (breadcrumb) ---------------------------------------------------------------
// location: template/core/navbar
#my-breadcrumb {
    .breadcrumb {
        .breadcrumb-item {
            &:last-child {
                font-weight: bold;
            }
            a {
                color: $dark-cyan !important;
                &:hover {
                    text-decoration: none;
                    color: $orange;
                }
            }
        }
    }
}

// all---------------------------------