// $primary: rgb(255, 166, 0) !default;
// Custom Color 
$light-cyan: rgb(244, 251, 255) !default;
$dark-cyan: rgb(108, 124, 133) !default;
$Purple: rgb(148, 0, 211) !default;
$orange: rgb(255, 184, 0) !default;
$dark-orange: rgb(255, 153, 0) !default;
$white: rgb(255, 255, 255) !default;
$gray: rgb(246, 246, 246) !default;
$shadow: 0 2px 5px rgb(128, 128, 128, 0.5);