// templates core/loginform
#region-main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .card {
        border-radius: 10px;
        overflow: hidden;
        .card-block {
            .card-body {
                padding: 0
            }
            .card-header {
                background-color: $purple;
                border: none;
                color: white;
            }
        }
    }
}

#side-color {
    background-image: linear-gradient(to right top, #7000ff, #7000ff, #7000ff, #7000ff, #7000ff, #6e00f9, #6b00f4, #6900ee, #6400e2, #5e00d6, #5900ca, #5400be);
    .side-content {
        height: 100%;
        width: 100%;
        margin: auto;
        h3 {
            font-weight: bold;
            color: white;
        }
        .sitename {
            color: white;
        }
    }
}

#my-form {
    .col-md-7 {
        .card-body {
            padding: 2rem 1rem 2rem 1rem;
            .form-group .form-control {
                border-radius: 10px;
                border: none;
                background-color: $gray;
            }
            .btn-primary {
                background-color: $orange;
                border: none;
            }
        }
    }
}